{% load staticfiles %}

<html>
    <head>
        <title>Story Pilot Recruitment!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'storyteller/mainstyle.css' %}" />
    </head>
    <body>
    <p class="recruitbanner"><h1>Three Recruits Needed!  First Come First Serve!</h1></p>
    <img src="{% static "storyteller/images/picmain.jpg" %}" alt="My image" id="formimage">
    <div id = "formblock">
    <form action="/storyteller/" method="post">
        {% csrf_token %}
        <table align="center">
          <tr><td><label for="name">Pilot name:</label></td><td><input id="name" type="text" name="name" value="{{name}}"></td></tr><br/>
          <tr><td><label for="homeworld">Pilot homeworld:</label></td><td><input type="text" id="homeworld" name="homeworld" value={{homeworld}}></td></tr><br/>
          <tr><td><label for="shipName">Pilot Ship Name:</label></td><td><input type="text" id="shipName" name="shipName" value={{shipName}}></td></tr><br/>
        </table>    
    <br/><input type="submit" value="Submit!">    
    </form>
    <p class="centeredTextAlarm">You must submit 3 different applications, or we won't show you anything.  Only the first three matter!</p>
    </div>
    <p class="centeredText">To review the 3 first applicants and see where they're headed, click <a href="/storyteller/ship">here.</a></p>
    </body>
</html>