{% load staticfiles %}

<html>
    <head>
        <script>
            
        </script>
    </head>
    <body>
        <div class="doublesided">
        <div id="formblock">
        <form>
           Pilot name: <input type="text" name="name"><br/>
           Pilot homeworld: <input type="text" name="homeworld"><br/>
           Pilot Ship Name: <input type="text" name="ship"><br/>
        </form>
        <div id="imageblock">
            
        </div>
        </div>
        </div>
    </body>
</html>