{% load staticfiles %}

<html>
    <head>
        <title>The Assignments!</title>
        <script type="text/javascript">
        var aname="{{a.name}}";
        var aship="{{a.shipName}}";
        var aworld="{{a.homeworld}}";
        var bname="{{b.name}}";
        var bship="{{b.shipName}}";
        var bworld="{{b.homeworld}}";
        var cname="{{c.name}}";
        var cworld="{{c.homeworld}}";
        var cship="{{c.shipName}}";
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'storyteller/mainstyle.css' %}" />
        <script src="{%static 'storyteller/scripts.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <h1>Welcome to the Assignment Review!</h1><br/><br/>
        <p class="centeredText">Click the buttons below to have the assignment received by each applicant displayed.</p>
        <br/>
            <table align="center">
            <td><button class="ship1button" onclick="ship1()">First Recruit</button></td>
            <td><button class="ship2button" onclick="ship2()">Second Recruit</button></td>
            <td><button class="ship3button" onclick="ship3()">Third Recruit</button></td>
            </table>
        <br>
        <br>
        <div id = "storyOutput">
        
        </div>
        <img src="{% static "storyteller/images/ship1.jpg" %}" alt="My image" id="shipimage">
    </body>
</html>