body{
    background-color:black;
    color: white;
}

#formblock{
    text-align:center;
}

#formimage{
    display:block;
    margin:auto;
    width: 50%;
    height: 70%;
}

h1{
    text-align:center;
    font-size: 200%;
}

.centeredText{
    text-align: center;
}